<div class="main-container">

  <div class="row">

    <div class="form-body col-lg-8 col-lg-offset-2">
<!-- PHOTO DROP ZONE -->
      <div class="photo-upload-container col-lg-12">
        <form action="/media" id="media-dropzone" class="dropzone" enctype="multipart/form-data">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>

<!-- FINISH PHOTO DROP ZONE -->

  <%= form_for(@venue) do |f| %>


<!-- BEGIN LEFT COLUMN -->
    <div class="col-lg-6">

      <% if @venue.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

          <ul>
          <% @venue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="info-container">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :phone_number %>
          <%= f.number_field :phone_number %>
        </div>
        <div class="field">
          <%= f.label :address %>
          <%= f.text_field :address %>
        </div>
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </div>
        <div class="field">
          <%= f.label :zip %>
          <%= f.number_field :zip %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :website %>
          <%= f.text_field :website %>
        </div>
      </div>

      <div class="info-container">
        <div class="field">
          <%= f.label :facebook %>
          <%= f.text_field :facebook %>
        </div>
        <div class="field">
          <%= f.label :twitter %>
          <%= f.text_field :twitter %>
        </div>
        <div class="field">
          <%= f.label :instagram %>
          <%= f.text_field :instagram %>
        </div>
      </div>
    </div>
<!-- FINISH LEFT COLUMN -->

<!-- BEGIN RIGHT COLUMN -->
    <div class="col-lg-6">
      <div class="info-container">
        <div class="field">
          <%= f.label :space %>
          <%= f.text_field :space %> sq.ft.
        </div>
        <div class="field">
          <%= f.label :capacity %>
          <%= f.text_field :capacity %> people
        </div>
        <div class="field">
          <%= f.label :available_parking %>
          <%= f.text_field :available_parking %> spaces
        </div>
        <div class="field">
          <%= f.label :changing_rooms %>
          <%= f.number_field :changing_rooms %>
        </div>
        <div class="field">
          <%= f.label :restrooms %>
          <%= f.number_field :restrooms %>
        </div>
        <div class="field">
          <%= f.label :electric_outlets %>
          <%= f.number_field :electric_outlets %>
        </div>
      </div>
      <div class="info-container">
        <div class="field">
          <%= f.label :indoors %>
          <%= f.check_box :indoors %>
        </div>
        <div class="field">
          <%= f.label :outdoors %>
          <%= f.check_box :outdoors %>
        </div>
        <div class="field">
          <%= f.label :handicap %>
          <%= f.check_box :handicap %>
        </div>
        <div class="field">
          <%= f.label :coordinator %>
          <%= f.check_box :coordinator %>
        </div>
      </div>

      <div class="info-container">
        <div class="field">
          <%= f.label :budget %>
          <%= f.select :budget, options_for_select([['$', 1], ['$$', 2], ['$$$', 3]]) %>
        </div>
      </div>
        <%= hidden_field_tag :photo_count, 0 %>
    </div>
<!-- FINISH RIGHT COLUMN -->

<!-- FAQS -->
    <div class="col-lg-12">
      <div class="faq-title">
      Include any <%= f.label :faqs %>
      </div>
      <div class="faqs-field">
        <%= f.text_area :faqs, :id => "text_area" %>
      </div>
    </div>
<!-- FINISH FAQs -->

<!-- SUBMIT ROW -->
    <div class="row">
      <div class="col-lg-12">
        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
    </div>

  <% end %>

    </div>
  </div>
</div>