<div class="main-container">
    <div class="main-container-row">

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-2 col-lg-offset-1">

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/236x/c5/28/63/c528630aa3c7beede7d3aa259facd310.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/ad/76/70/ad7670e28e747f110e63dd441bdbe40f.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/3d/0f/f2/3d0ff239157c581b69a6c3a3d8131ffe.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/0a/70/33/0a7033f2ea0b3285f489f4dfc6b0236a.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/236x/bb/89/77/bb89774099f2e99d6492ec6e459b11c7.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/2b/3e/76/2b3e76d60fbfb97a900d4065ccda7b0c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/5b/bf/52/5bbf52e3e2dcc043c4319f551813806c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/4b/39/33/4b3933b9d3df375d439306badc8210d5.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>
      </div>

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-2">

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/0d/73/a4/0d73a40a313e5381887425a01e07bef0.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/a8/de/7c/a8de7c3bfe1d007f448d807deddaa529.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/19/99/50/19995083b4e109ccb34be7e69db09b27.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/55/8f/ed/558fed8f81adfb9219a7ca89fb7a1d5b.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/236x/bb/89/77/bb89774099f2e99d6492ec6e459b11c7.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/2b/3e/76/2b3e76d60fbfb97a900d4065ccda7b0c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/5b/bf/52/5bbf52e3e2dcc043c4319f551813806c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/4b/39/33/4b3933b9d3df375d439306badc8210d5.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>
      </div>

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-2">

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/65/ec/5a/65ec5ae228aae0abf465ed63a5a25e7b.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/5d/48/48/5d4848eeef846414a7e88f736708121d.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/e5/b1/19/e5b11956d6042a3830ff0ab6cf4c3928.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/236x/3e/02/1b/3e021bf5c5361922001a4b6b1c592cc5.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/236x/bb/89/77/bb89774099f2e99d6492ec6e459b11c7.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/2b/3e/76/2b3e76d60fbfb97a900d4065ccda7b0c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/db/f6/26/dbf6264c592602e227b7754045663186.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/4b/39/33/4b3933b9d3df375d439306badc8210d5.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>
      </div>

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-2">

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/ee/ac/b9/eeacb9c2a96f3286ce2721953c89b92b.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/50/d8/92/50d8929de51095d46ccaed4b40f3e2b8.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/ad/3f/5e/ad3f5eacf6695ecda26b21cf34549b80.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/a6/e4/75/a6e4757370dbfb5594179464a172b0d4.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/f1/f3/20/f1f320e87c53a6b3b8ec2942ff3ecee4.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/2b/3e/76/2b3e76d60fbfb97a900d4065ccda7b0c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/fa/a1/4f/faa14f5f20eb9162d0330c04946ecc97.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/4b/39/33/4b3933b9d3df375d439306badc8210d5.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>
      </div>

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-2">

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/fa/70/25/fa702592771328247502437c64eff048.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/736x/fd/07/53/fd0753a95a18ba913134cd3275482ba1.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/1a/48/3a/1a483a1818f1c1ae0aac9fca26a415e7.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/1d/b4/f5/1db4f5d41daeab14fff0e2b3e150ed50.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ak0.pinimg.com/236x/bb/89/77/bb89774099f2e99d6492ec6e459b11c7.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/ed/70/d9/ed70d94b821701a786adc5d720c2a163.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/236x/5b/bf/52/5bbf52e3e2dcc043c4319f551813806c.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>

        <div class="image-container">
          <div class="image">
            <img src="http://media-cache-ec0.pinimg.com/736x/4b/39/33/4b3933b9d3df375d439306badc8210d5.jpg">
          </div>
          <div class="text-wrapper">
            NAME OF VENUE, LOCATION, HASHTAGS
          </div>
        </div>
      </div>










        <!-- <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone number</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Email</th>
              <th>Website</th>
              <th>Facebook</th>
              <th>Twitter</th>
              <th>Instagram</th>
              <th>Space</th>
              <th>Capacity</th>
              <th>Available parking</th>
              <th>Changing rooms</th>
              <th>Restrooms</th>
              <th>Electric outlets</th>
              <th>Indoors</th>
              <th>Outdoors</th>
              <th>Handicap</th>
              <th>Coordinator</th>
              <th>Space</th>
              <th>Capacity</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @venues.each do |venue| %>
              <tr>
                <td><%= venue.name %></td>
                <td><%= venue.phone_number %></td>
                <td><%= venue.address %></td>
                <td><%= venue.city %></td>
                <td><%= venue.state %></td>
                <td><%= venue.zip %></td>
                <td><%= venue.email %></td>
                <td><%= venue.website %></td>
                <td><%= venue.facebook %></td>
                <td><%= venue.twitter %></td>
                <td><%= venue.instagram %></td>
                <td><%= venue.space %></td>
                <td><%= venue.capacity %></td>
                <td><%= venue.available_parking %></td>
                <td><%= venue.changing_rooms %></td>
                <td><%= venue.restrooms %></td>
                <td><%= venue.electric_outlets %></td>
                <td><%= venue.indoors %></td>
                <td><%= venue.outdoors %></td>
                <td><%= venue.handicap %></td>
                <td><%= venue.coordinator %></td>
                <td><%= venue.space %></td>
                <td><%= venue.capacity %></td>
                <td><%= link_to 'Show', venue %></td>
                <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
                <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table> -->

        <br>

        <%= link_to 'New Venue', new_venue_path %>

    </div>
</div>
