<h1>Search Results</h1>

<div class="main-container">
  <div class="row">

    <div class="col-md-8 col-lg-offset-2">
      <% @venues.each do |venue| %>
      <div class="venue-container">
        <div class="thumbnail">
          <a href="/venues/<%= venue.id %>">
          <%= image_tag(venue.picture, :width => 200) if venue.picture.present? %>
        </div>
        <div class="text-container">
           <!-- How to do with link_to? -->
            <%= venue.name %>
            <p><%= venue.city %>, <%= venue.state %></p>
            <p><%= venue.budget %></p>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>