<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @venue.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @venue.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @venue.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @venue.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @venue.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @venue.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @venue.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @venue.instagram %>
</p>

<p>
  <strong>Space:</strong>
  <%= @venue.space %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @venue.capacity %>
</p>

<p>
  <strong>Available parking:</strong>
  <%= @venue.available_parking %>
</p>

<p>
  <strong>Changing rooms:</strong>
  <%= @venue.changing_rooms %>
</p>

<p>
  <strong>Restrooms:</strong>
  <%= @venue.restrooms %>
</p>

<p>
  <strong>Electric outlets:</strong>
  <%= @venue.electric_outlets %>
</p>

<p>
  <strong>Indoors:</strong>
  <%= @venue.indoors %>
</p>

<p>
  <strong>Outdoors:</strong>
  <%= @venue.outdoors %>
</p>

<p>
  <strong>Handicap:</strong>
  <%= @venue.handicap %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @venue.coordinator %>
</p>

<p>
  <strong>Space:</strong>
  <%= @venue.space %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @venue.capacity %>
</p>

<% if user_signed_in? && current_user.id == @venue.user_id %>
<%= link_to 'Edit', edit_venue_path(@venue) %>
<% end %>
 |
<%= link_to 'Back', venues_path %>
