<div class="main-container">
  <div class="main-container-row">
    <div class="left-bar col-md-2 col-lg-2 col-lg-offset-1">
      <h2>VENUE NAME</h2>
      <div class="venue-profile-picture">
        <img class="venue-profile-picture" src="http://media-cache-ec0.pinimg.com/236x/b9/d0/0e/b9d00e96d9c7687a1fc238350b8efd04.jpg">
      </div>

      <!-- Need to figure out how to align correctly and override Bootstrap -->
      <div class="buttons-for-profile">
        <button type="add-to-favorites" class="btn btn-default">Add to Favorites</button>

        <button type="price-list" class="btn btn-default">Price List</button>
      </div>

      <div class="contact-info">
        Contact: <%= @venue.email %>

        <p>Phone: <%= @venue.phone_number %>

        <p><a href="<%= @venue.website %>">Website</a>

        <p>Social Media:
        <p>P T F
      </div>

    </div>

    <div class="row">

      <div class="main-container-body col-xs-12 col-sm-12 col-md-10 col-lg-8 col-lg-offset-0">



        <p id="notice"><%= notice %></p>
        <div class="sign-in-options">
          <a href="/users/sign_in">Is this your venue? Login now!</a> <!-- How to do link_to -->
          <p><%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        </div>

      <div class="basic-info">
        <p>
          <strong>Name:</strong>
          <%= @venue.name %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= @venue.phone_number %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @venue.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @venue.city %>
        </p>

        <p>
          <strong>State:</strong>
          <%= @venue.state %>
        </p>

        <p>
          <strong>Zip:</strong>
          <%= @venue.zip %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @venue.email %>
        </p>

        <p>
          <strong>Website:</strong>
          <%= @venue.website %>
        </p>
      </div>

      <div class="social-media">
        <p>
          <strong>Facebook:</strong>
          <%= @venue.facebook %>
        </p>

        <p>
          <strong>Twitter:</strong>
          <%= @venue.twitter %>
        </p>

        <p>
          <strong>Instagram:</strong>
          <%= @venue.instagram %>
        </p>
      </div>

      <div class="logistics">
        <p>
          <strong>Space:</strong>
          <%= @venue.space %>
        </p>

        <p>
          <strong>Capacity:</strong>
          <%= @venue.capacity %>
        </p>

        <p>
          <strong>Available parking:</strong>
          <%= @venue.available_parking %>
        </p>

        <p>
          <strong>Changing rooms:</strong>
          <%= @venue.changing_rooms %>
        </p>

        <p>
          <strong>Restrooms:</strong>
          <%= @venue.restrooms %>
        </p>

        <p>
          <strong>Electric outlets:</strong>
          <%= @venue.electric_outlets %>
        </p>
      </div>

      <div class="checkboxes">
        <p>
          <strong>Indoors:</strong>
          <%= @venue.indoors %>
        </p>

        <p>
          <strong>Outdoors:</strong>
          <%= @venue.outdoors %>
        </p>

        <p>
          <strong>Handicap:</strong>
          <%= @venue.handicap %>
        </p>

        <p>
          <strong>Coordinator:</strong>
          <%= @venue.coordinator %>
        </p>
      </div>

      <div class="detailed-info">
        <p>
          <strong>Budget:</strong>
          <%= @venue.budget%>
        </p>

        <% if user_signed_in? && current_user.id == @venue.user_id %>
        <%= link_to 'Edit', edit_venue_path(@venue) %>
        <% end %>
         |
        <%= link_to 'Back', venues_path %>
      </div>

      <div class="photo-album">
        <%= image_tag(@venue.picture, :width => 600) if @venue.picture.present? %> <!-- started trying to get photos working with carrier wave -->
      </div>
    </div>
  </div>
  </div>
</div>

